html, body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
}


$primary:linear-gradient(#db64e6, #b891e5);


/* HEADER */

header{
    width: auto;
}

.logo{
    box-shadow: black 6px 6px 6px ;

    img{
        text-align: center;
        margin: auto;
        display: flex;
    }
}

.search{
    text-align: center;
    background-color: rgba(207, 207, 207, 0.637);

    input{
        width: 40%;
        height: 50px;
        border: none;
        background-color: transparent;
        font-size: 20px;
    }

    i{
        font-size: 20px;
    }
}

/* RESERVATION */

.reservation{
    background-color: rgb(240, 240, 240, 0.678);
    text-align: center;
    padding-top: 20PX;

    button{
        margin: 20px 0 40px 0;
        font-size: 15px;
        border-radius: 40px;
        padding: 20px 30px 20px 30px;
        color: white;
        background-image: $primary;
        border: none;

        :hover{
            background-position: right;
        }
    }
}

/* FONCTIONNEMENT */

.number{
    background: #9400FF;
    border-radius: 50%;
    color: white;
    padding: 5px;
    position: absolute;
    display: flex;
    left: -5px;
    height: 7PX;
    display: flex;
    align-items: center;
    justify-content: center;
}

.function{


    li{
        margin: 20px 20PX 40px 0;
        font-size: 15px;
        border-radius: 20px;
        padding: 20px 30px 20px 30px;
        background: rgb(240, 240, 240, 0.678);
        border: none;
        box-shadow: rgba(0,0,0,0.2) 3px 3px 3px ;
        width: 200px;
        text-decoration: none;
        position: relative;
    }

    i{
        margin-right: 10px;
        font-size: 20px;
    }

    ul{
        display: flex;
        justify-content: center;
        list-style: none;
    }

    a{
        text-decoration: none;
        color: black;
    }

    h1{
        text-align: center;
    }
}


/* MENU RESTAURANT*/

.restaurants{
    background-color: rgb(240, 240, 240, 0.678);
    padding-top: 20px;

    h1{
        text-align: center;
    }
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.group-cards-1, .group-cards-2{
    display: flex;
}

.cards{
    background-color: white;
    width: 400PX;
    height: 300px;
    border-radius: 20px;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
    margin: 40px;
    position: relative;

    img{
        width: 100%;
        height: 80%;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
}

.texte{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    line-height: 1px;
    padding-left: 5px;
    padding-right: 20px;
    margin-top: -10px;

    a{
        text-decoration: none;
        color: black;
    }

    i{
        font-size: 1.5rem;
    }
}

.heart{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s;
   
}

.heart{
    position: relative;
}

.heart:hover .heart2{
    opacity: 1;
   
}

.heart2{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    opacity: 0; transition: all 1.5s;

}

.fas.fa-heart {
    color: red;
}

.new{
    background-color: #99e2d0;
    color: #1b6150;
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    right: 0;
    margin: 1rem;
}

/* FOOTER */

footer{
    background-color: rgb(71, 71, 71);


    img{
        filter: invert(100%);
        text-align: center;
        margin: auto;
        display: flex;
        width: 200px;
        padding: 15px;
    }

    ul{
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
    }

    li{
        margin-right: 150px;
    }

    a{
        text-decoration: none;
        color: white;
    }

    i{
        margin-right: 10px;
    }
}

.menu_1{

    margin: auto;
}


@media all and (max-width: 550px) {
    body{
        width: auto;
    }

    .logo img{
        width: 150px; 
        padding: 10px;
    }

    .function{
        padding-top: 40px;

        h1{
            
        }

        ul{
            flex-direction: column;
            padding-bottom: 20px;
        }

        li{
            margin: 10px;
        }
    }

    .restaurants{
        padding-top: 40px;

        h1{
            margin: 0;
            padding-left: 15px;
        }
    }

    .cards{
        width: 340px;
        height: 250px;

        img{
            height: 70%;
        }
    }

    .group-cards-1, .group-cards-2{
        flex-direction: column;
    }

    .footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 15px 0 15px 0;
        

        ul{
            display: flex;
            flex-direction: column;
            padding-left: 17px;
        }

        li{
            margin-bottom: 5px;
        }

        img{
            width: 100px;
            margin-left: 4px;
        }
    }
}