html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* LOADER PAGE */
.load-spinner {
  animation: load-spinner 4s forwards;
  width: 100%;
  height: 100%;
  background: linear-gradient(#db64e6, #b891e5);
  opacity: 0.8;
  position: fixed;
  z-index: 1;
  transition: 0.5s;
}

.loader {
  background: linear-gradient(#db64e6, #b891e5);
  top: 50%;
  left: 43%;
  z-index: 3;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: white;
  position: fixed;
  animation: loading 2s linear infinite;
  font-family: "Shrikhand", cursive;
}
.loader ::before, .loader ::after {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: -10px;
  box-sizing: border-box;
  border-radius: 50%;
}
.loader span {
  position: absolute;
  width: 200px;
  height: 200px;
  color: #FFF;
  text-align: center;
  line-height: 200px;
  animation: txt 2s linear infinite;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
@keyframes txt {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes load-spinner {
  from {
    visibility: visible;
    transform: translateZ(200px);
  }
  to {
    visibility: hidden;
    transform: translate(0);
    opacity: 0;
  }
}
/* HEADER */
header {
  width: auto;
}

.logo {
  padding: 15px;
  box-shadow: black 6px 6px 6px;
}
.logo img {
  text-align: center;
  margin: auto;
  display: flex;
}

.search {
  text-align: center;
  background-color: rgba(207, 207, 207, 0.637);
  padding-left: 75px;
}
.search input {
  height: 50px;
  border: none;
  background-color: transparent;
  font-size: 20px;
}
.search i {
  font-size: 20px;
}

/* RESERVATION */
.reservation {
  background-color: rgba(240, 240, 240, 0.678);
  text-align: center;
  padding-top: 20px;
}
.reservation button {
  margin: 20px 0 40px 0;
  font-size: 15px;
  border-radius: 40px;
  padding: 20px 30px 20px 30px;
  color: white;
  background-image: linear-gradient(#db64e6, #b891e5);
  border: none;
  box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 1s;
}

button:hover {
  box-shadow: -1px -1px 8px rgba(110, 110, 110, 0.8);
}

/* FONCTIONNEMENT */
.number {
  background: #9400FF;
  border-radius: 50%;
  color: white;
  padding: 5px;
  position: absolute;
  display: flex;
  left: -5px;
  height: 7PX;
  display: flex;
  align-items: center;
  justify-content: center;
}

.function li {
  margin: 20px 20PX 40px 0;
  font-size: 15px;
  border-radius: 20px;
  padding: 20px 30px 20px 30px;
  background: rgba(240, 240, 240, 0.678);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;
  width: 200px;
  text-decoration: none;
  position: relative;
}
.function i {
  margin-right: 10px;
  font-size: 20px;
}
.function ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.function ul :hover {
  background: #f8ecff;
}
.function li:hover {
  box-shadow: -1px -1px 8px rgba(110, 110, 110, 0.8);
}
.function a {
  text-decoration: none;
  color: black;
}
.function h1 {
  padding-left: 15%;
}

.fas.fa-mobile-alt:hover, .fas.fa-list-ul:hover, .fas.fa-store:hover {
  color: #9400FF;
}

/* MENU RESTAURANT*/
.restaurants {
  background-color: rgba(240, 240, 240, 0.678);
  padding-top: 20px;
}
.restaurants h1 {
  padding-left: 15%;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}

.group-cards-1, .group-cards-2 {
  display: flex;
}

.cards {
  background-color: white;
  width: 400PX;
  height: 300px;
  border-radius: 20px;
  box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.5);
  margin: 40px;
  position: relative;
}
.cards img {
  width: 100%;
  height: 80%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.cards:hover {
  box-shadow: -1px -1px 8px rgba(110, 110, 110, 0.8);
}

.texte {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  line-height: 1px;
  padding-left: 5px;
  padding-right: 20px;
  margin-top: -10px;
}
.texte a {
  text-decoration: none;
  color: black;
}
.texte i {
  font-size: 1.5rem;
}

/* COEUR J'AIME */
.heart {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s;
}

.heart {
  position: relative;
}

.heart:hover .heart2 {
  opacity: 1;
}

.heart2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 1.5s;
}

.fas.fa-heart {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart:hover .heart1 {
  opacity: 0;
}

.new {
  background-color: #99E2D0;
  color: #1b6150;
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  right: 0;
  margin: 1rem;
}

/* FOOTER */
footer {
  background-color: #383838;
}
footer img {
  filter: invert(100%);
  text-align: center;
  margin: auto;
  display: flex;
  width: 200px;
  padding: 15px;
}
footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding-bottom: 50px;
}
footer ul :hover {
  color: #99E2D0;
}
footer li {
  margin-right: 150px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer i {
  margin-right: 10px;
}

/* TABLETTE */
@media all and (max-width: 1000px) {
  .function ul {
    padding-left: 25px;
  }
  .function li {
    width: 24%;
    white-space: nowrap;
  }

  .group-cards-1 {
    width: 95%;
  }

  .group-cards-2 {
    width: 95%;
  }

  footer ul {
    padding-left: 70px;
    margin-top: 20px;
  }

  footer li {
    margin-right: 65px;
    white-space: nowrap;
  }
}
/* MOBILE*/
@media all and (max-width: 760px) {
  body {
    width: auto;
  }

  .loader {
    top: 250px;
    left: 100px;
  }

  .logo img {
    width: 150px;
    padding: 10px;
  }

  .cards {
    margin-left: 10px;
  }

  .function {
    padding-top: 40px;
    padding-bottom: 25px;
  }
  .function i {
    margin-right: 45px;
  }
  .function ul {
    flex-direction: column;
    padding-bottom: 20px;
    padding-left: 10px;
  }
  .function li {
    margin: 10px;
    width: 75%;
    padding: 25px 30px 25px 30px;
  }
  .function h1 {
    margin: 0;
    padding-left: 15px;
  }

  .restaurants {
    padding-top: 40px;
  }
  .restaurants h1 {
    margin: 0;
    padding-left: 15px;
  }

  .cards {
    width: 340px;
    height: 250px;
  }
  .cards img {
    height: 70%;
  }

  .texte {
    margin-top: 0;
  }

  .group-cards-1, .group-cards-2 {
    flex-direction: column;
  }

  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 0 15px 0;
  }
  .footer i {
    font-size: 15px;
  }
  .footer .fas.fa-hands-helping {
    margin-right: 4px;
  }
  .footer ul {
    display: flex;
    flex-direction: column;
    padding-left: 17px;
  }
  .footer li {
    margin-bottom: 5px;
  }
  .footer img {
    width: 100px;
    margin-left: 4px;
  }
}

/*# sourceMappingURL=style.css.map */
